# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Flask files
instance/
*.sqlite3
*.db

# Log files
*.log

# Unit test results
.coverage
*.cover
*.coverage
htmlcov/

# Docker-related files
*.env
.env

# System files
Thumbs.db
desktop.ini

# Python package files
*.egg
*.egg-info/
dist/
build/
*.pyo


*.bak
*.swp
*.tmp

